<!DOCTYPE html>
<html>
<head>
	{% load static %}
	
	
    <title>S'inscrire</title>
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-1.7rc2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "commun/jquery-1.7rc2.js" %}"></script>
	<script type="text/javascript" src="{% static "commun/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "inscription/jquery/jQuery(register).js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "inscription/css/reg.css" %}">
 	<link rel="stylesheet" type="text/css" href="{% static "inscription/css/commun.css" %}">

</head>
	
<body>
 	<form action="{% url "pre_inscription" %}" method="post" id="form">    
		<h3>Création du compte</h3>
		{% csrf_token %}

			<!-- e-mail : -->
		<div class = "lignes">
			<div>
				<label id="label-mail" for="{{ form.in_email.id_for_label }}">E-mail :<br></label>
					<div class="erreur"></div>
           </div>         
             <div class="champs">        
						{{form.in_email }}
             </div>        
           	</div>      
			 
				<!-- mot de passe : -->
			<div class = "lignes">
				<div>	  
                        <label id="label-mdp" for="{{ form.in_mdp.id_for_label }}">Mot de passe : </label>
                        <div class="erreur"></div>
            	</div>      
                <div class="champs">	  
					 {{form.in_mdp}}
		         </div>      
			</div>
			<div class = "lignes">
				<div>
					<label id="label-conmdp" for="{{ form.in_re_mdp.id_for_label }}">Confirmation : </label>
                     <br><div class="erreur"></div>
                    </div>
                       
                    <div class="champs"> 
						{{form.in_re_mdp}}
					 </div>
		</div> 
			<div class = "lignes">
				<div>
					<label for="{{ form.in_compte.id_for_label }}">Vous voulez :</label>
                 </div>   
                 <div>    
						{{form.in_compte}}
					</div>		 
		</div>
	
	
			<input type="submit" name="prof" value="Suivant" id="envoyer" class="hvr-forward">
	</form>
	</body>
</html>