{% load static %}
{% load embed_video_tags %}

<html>
<head>
	<title>{{chapitre.titre}}</title>
    <link rel="stylesheet" type="text/css" href="{% static "commun/StyleSheet.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "cours/css/chapitre_display.css" %}">
	<link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
	<link rel="stylesheet" href="{% static "/commun/footer.css" %}">
	</head>
<body>
		<header>
					<div class="topnav" id="myTopnav">
			  	<a href="{% url 'index'%}" class="hvr-underline-from-left">Acceuil</a>
			  	<a href="{% url 'cours'%}" class="hvr-underline-from-left">Cours</a>
			  	<a href="{% url 'ajout_formation'%}" class="hvr-underline-from-left">Ajouter une formation</a>
				<a href="#about" class="hvr-underline-from-left" >About</a>
				<a href="#about" class="hvr-underline-from-left" id='compte'>
					<table><tr><td>
						<img src="{{user.utilisateurs.utilisateur_image.url}}" width="30px" ></td>
					 <td>{{user.utilisateurs}}</td></tr></table>
					</a>
				
				<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
				</div>
	</header>
	<section>
			<form action="{% url 'recherche' %}" method="post" id="recherche-form">
				<label for='input-recherche'>
				Cherchez-vous un cours? tapez-le ici : </label>
 				{% csrf_token %}
				{{form.input_recherche}}  <input type="submit" value="Submit" style="display: none">
				
			</form>
	</section>
	<section>
	
		<span id="chapitre-formation">
		{{chapitre.course|safe}} </span>
		<span id="chapitre-order">
			
		
		<b>{{chapitre.order}}- </b> {{chapitre.titre}}</span>
		
		<span id="chapitre-description">
			{{chapitre.description}}
		</span>
		<div id='flex'>
		<div id='chapitre'>

		
		{% if chapitre.image %}
		<img src={{chapitre.image.url}} id="chapitre_image">	
		{% endif %}
		
		{% if chapitre.url %}
		<div class="container">
			{% video chapitre.url %}</div>
			{% endif %}
		<span id="chapitre-contenu">
			{{chapitre.contenu}}
			</span>
		{% if chapitre.fichier %}
			<span id="chapitre-fichier"><a href="{{chapitre.fichier.url}}" > Fichier a telechargé </a></span>
		{%endif%}
			
			
		{% if chapitre.order == chapitre_lu.chapitre.order %}
			
			<a href="{% url 'next_chapitre' chapitre_lu.id chapitre.order%}" id="chapitre_fini" class="hvr-fade">j'ai terminé ce chapitre</a>
		{% endif %}
		</div>

		

		<table id='chapitres'>
		<tr><td>Chapitres:</td></tr>
		{% for chapitre in chapitres %}
			<tr ><td><a class='lien_chapitre hvr-forward' href= "{% url 'chapitre_display' chapitre.course.id chapitre.course.formation_slug chapitre.order %}" >
		{% if chapitre_lu.fini%}
				<span style='color:limegreen'>{{chapitre}} (fini)</span>
		{% else %}
			{% if chapitre.order <  chapitre_lu.chapitre.order %} 
				<span style='color:limegreen'>{{chapitre}} (fini)</span>

			{% elif chapitre.order == chapitre_lu.chapitre.order %}
				<span style='color:#52B3D9'><b>{{chapitre}}</b></span>
			{% else %}
				<span style = "color: rgb(34, 49, 63)">{{chapitre}}</span>
				{% endif%}
		{% endif %}
			</a>
			</td></tr>
		{% endfor%}
			</table>
		</div>
		
	</section>
			<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Educ-o<span>Projet de fin d'etude</span></h3>

				<p class="footer-links">
					<a href="#">aceuil</a>
					·
					<a href="{% url 'cours'%}">cours</a>
					·
					<a href="#">About</a>
					·
					<a href="mailto:educo.donotreply@gmail.com">Contact</a>
				</p>

				<p class="footer-company-name">Educ-o &copy; 2018</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span> BP 473 Complexe universitaire Al Qods, </span> Oujda 60000</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+212 536 36 36 36</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:educo.donotreply@gmail.com">Educ-o support</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>nous?</span>
					Projet de fin d'etude DUT developpeur d'application informatique a l'Ecole Superieure du Technologie Oujda <br> Moussaoui Mohammed <br> Moulida AbdelIlah </p>
					
																																	

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>
	</body>
</html>
